DATABASE_URL=

jwtPassword=
jwtExpiredDefaultTime=
PORT=


colletionPicProfiles=
colletionPicBanners=


#Variaveis do servidor de e-mail
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=

#for developent set http://localhost:YOUR_PORT/ 
#for production set production URL
FRONTEND_HOST=